<!DOCTYPE html>
<html>
<head>
    <title>GamePlan Admin</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<body>
    
    <button onclick="window.location.href='/api/calendar'">Calendar</button>


</body>
</html>
